body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url("images/pexels-francesco-ungaro-998641.jpg");
   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.calculator{
    border: solid white ;
    border-radius: 8px;
    

}
.buttons{
    display: flex;
    width: 320px;
    height: 400px;
    flex-wrap: wrap;

}
button{
    width:80px;
    height:80px;
    border-radius: 4px;
    background-color: #191d20;
    color: white;
    font-weight: bold;
    
}
.display{
    width: 320px;
    text-align: right;
    padding-right: 24px;
    box-sizing: border-box;
    font-size: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color:silver;
   
}